body {
    padding: 0;
    margin: 0;
}

.color-1 {
    color: #ff6600;
}

.container {
    width: 1080px;
    height: 2340px;
    background: -webkit-linear-gradient(-45deg, rgba(46, 51, 58, 1) 0%, rgba(35, 39, 44, 1) 100%);
    position: relative;
    margin: auto;
}

.textbox {
    width: 90%;
    margin: 4.5%;
    height: 850px;
    border-radius: 10px;
    background: #24292e;
    border-style: none;
    box-shadow: inset 5px 5px 4px #151515,
        inset -2px -2px 2px #505050;
    margin-top: 5%;
    position: relative;
}

.buttons .table-row {
    width: 100%;
    margin: auto;
}

.button {
    width: 200px;
    height: 200px;
    border-style: none;
    background: -webkit-linear-gradient(-45deg, rgba(46, 51, 58, 1) 0%, rgba(35, 39, 44, 1) 100%);
    box-shadow: 5px 5px 15px #000000,
        -5px -5px 5px #505050;
    border-radius: 10px;
    margin-left: 50px;
    font-size: 100px;
    color: #fff;
    margin-top: 50px;
}

.button:active {
    width: 50px;
    height: 50px;
    border-style: none;
    background: -webkit-linear-gradient(-45deg, rgba(46, 51, 58, 1) 0%, rgba(35, 39, 44, 1) 100%);
    box-shadow: inset 2px 2px 5px #000000,
        inset -1px -1px 1px #505050;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 25px;
    color: #ffffff;
    margin-top: 10px;
    font-weight: bolder;
}

.color-1 {
    background: -webkit-linear-gradient(-45deg, #ff6611 0%, #ff6600 100%);
    box-shadow: 1px 1px 3px #602600,
        -1px -1px 1px #505050;
}

.color-2 {
    color: #FF6600;
}

.color-3 {
    color: #FF6600
}

.textbox {
    text-align: right;
    font-size: 25px;
    color: fff;
    padding-right: 10px;
}
